<!DOCTYPE html>
<html theme="AdminPortal">
<head>
    <meta charset="utf-8">
    <title>DemoAA</title>
    <base id="base" href="/" />
    <meta name="viewport" content="width=device-width,initial-scale=1">  
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
@RenderBody()
@RenderSection("Scripts", required: false)
</body>
</html>
