@{
    ViewData["Title"] = "Error";
}

<div style="display: flex; align-items: center; justify-content: center; height: 80vh; width: 100%; flex-direction: column;">
    <h3 style="margin: 1rem;text-align: center;">There is an issue Application. Please restart your machine.</h3>
   </div>